<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="serverAddressSettings">
      <section name="serverAddress" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>

  <serverAddressSettings>
    <serverAddress>
      <add key="serverIpAdress" value="127.0.0.1"/>
      <add key="serverPort" value="8001"/>
    </serverAddress>
  </serverAddressSettings>
</configuration>